<div class="widget HTML">
    <h2 class="title">{{ module.title }}</h2>
    <div class="widget-content">
     {% if module.header.gallery %}
        <div class="gdlr-instagram-item-head gdlr-nav-container">
            <i class="icon-angle-left gdlr-flex-prev"></i>
            <a href="{{ base_url_absolute }}" target="_blank">
                <i class="icon-instagram"></i>
            </a>
            <i class="icon-angle-right gdlr-flex-next"></i>
        </div>
        <div class="gdlr-instagram-item-wrapper">
            <div class="flexslider" data-type="carousel" data-nav-container="gdlr-instagram-item-wrapper">
                <div class="flex-viewport" >
                    <ul class="slides">
                        {% for images in module.header.gallery %}
                            <li>
                                <a href="{% if module.header.image_as_link %}{{ module.media.images[images.image].url }}{% else %}{{ images.url }}{% endif %}" target="_blank" data-lightbox="gallery" data-title="images.image">
                                    {{ module.media.images[images.image] }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}
    {{ module.content }}
</div>
</div>