<div class="post{% if not truncate %} detailed{% endif %}">
  <div class="entry-container">
    <div class="entry-content">

      {% if page.header.link %}
      <h1 class="entry-title">
        {% if page.header.continue_link is not sameas(false) %}
        <a href="{{ page.url }}"><i class="fa fa-angle-double-right"></i></a>
        {% endif %}
        <a href="{{ page.header.link }}">{{ page.title }}</a>
      </h1>
      {% else %}
      <h1 class="entry-title"><a href="{{ page.url }}">{{ page.title }}</a></h1>
      {% endif %}

      {% if truncate %}
        <div class="meta">
          <div><i class="fa fa-clock-o"></i> {{ page.date|date(config.system.pages.dateformat.long) }}</div>
          <div><i class="fa fa-user"></i> <span style="color:#E74C3C">
            {% if page.header.author.name or site.author.name %}
            {% if page.header.author.name %}
            {% if page.header.author.url %}
            <a href="{{ page.header.author.url }}">{{ page.header.author.name }}</a>
            {% else %}
            {{ page.header.author.name }}
            {% endif %}
            {% else %}
            {% if site.author.url %}
            <a href="{{ site.author.url }}">{{ site.author.name }}</a>
            {% else %}
            {{ site.author.name }}
            {% endif %}
            {% endif %}
            {% endif %}
          </span></div>
          {% if page.taxonomy.tag %}
          <div> <i class="fa fa-tags"></i>
            {% for tag in page.taxonomy.tag %}
            <a href="{{ base_url }}/tag:{{ tag }}" rel="tag">{{ tag }}{% if not loop.last %}, {% endif %}</a>
            {% endfor %}
          </div>
          {% endif %}
        </div>
      {% else %}
        <div class="meta1">
          <small>
          <span><i class="fa fa-clock-o"></i> {{ page.date|date(config.system.pages.dateformat.long) }}</span>
          <span><i class="fa fa-user"></i>
            {% if page.header.author.name or site.author.name %}
            {% if page.header.author.name %}
            {% if page.header.author.url %}
            <a href="{{ page.header.author.url }}">{{ page.header.author.name }}</a>
            {% else %}
            {{ page.header.author.name }}
            {% endif %}
            {% else %}
            {% if site.author.url %}
            <a href="{{ site.author.url }}">{{ site.author.name }}</a>
            {% else %}
            {{ site.author.name }}
            {% endif %}
            {% endif %}
            {% endif %}
          </span>
          {% if page.taxonomy.tag %}
          <span> <i class="fa fa-tags"></i>
            {% for tag in page.taxonomy.tag %}
            <a href="{{ base_url }}/tag:{{ tag }}" rel="tag">{{ tag }}{% if not loop.last %}, {% endif %}</a>
            {% endfor %}
          </span>
          {% endif %}
        </small>
        </div>
      {% endif %}

      <div class="clear"></div>

      <div class="{% if truncate %}entry-{% if page.header.youtube or page.header.soundcloud %}video{% else %}image{% endif %}{% endif %}">
        {% if page.header.youtube %}
        <iframe width="600" height="403" src="{{ page.header.youtube }}?showinfo=0" frameborder="0" allowfullscreen></iframe>
        {% elseif page.header.soundcloud %}
        <iframe width="100%" height="403" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{ page.header.soundcloud }}&amp;auto_play=false&amp;hide_related=true&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true&amp;buying=false"></iframe>
        {% else %}
        {{ page.media.images|first.cropZoom(682,430).html('','', 'thumb') }}
        {% endif %}
      </div>

            {% if page.header.continue_link is sameas(false) %}
            {{ page.content }}
            {% if not truncate %}
            {% set show_prev_next = true %}
            {% endif %}
            {% elseif truncate and page.summary != page.content %}
            {{ page.summary }}
            {% elseif truncate %}
            {{ page.content|truncate(550) }}
            {% else %}
            {{ page.content }}
            {% set show_prev_next = true %}
            {% endif %}

            <div class="entry-meta clearfix">
              <div class="up_arrow"></div>
              <div class="pull-right share-story-container">
                <ul class="share-story">
                  <li>
                    <a href="http://www.facebook.com/share.php?u={{ page.url(true) }}" target="_blank">
                      <i class="fa fa-facebook"></i>
                    </a>
                  </li>
                  <li>
                    <a href="http://twitter.com/home?status={{ page.title|replace({' ': "%20"}) }}-{{ page.url(true) }}" target="_blank">
                      <i class="fa fa-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="http://digg.com/submit?url={{ page.url(true) }}&amp;title={{ page.title|replace({' ': "%20"}) }}" target="_blank">
                      <i class="fa fa-digg"></i>
                    </a>
                  </li>
                  <li>
                    <a href="http://reddit.com/submit?url={{ page.url(true) }}&amp;title={{ page.title|replace({' ': "%20"}) }}" target="_blank">
                      <i class="fa fa-reddit"></i>
                    </a>
                  </li>
                  <li>
                    <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ page.url(true) }}&amp;title={{ page.title|replace({' ': "%20"}) }}" target="_blank">
                      <i class="fa fa-linkedin"></i>
                    </a>
                  </li>
                  <li>
                    <a href="http://www.tumblr.com/share/link?url={{ page.url(true) }}&amp;name={{ page.title|replace({' ': "%20"}) }}" target="_blank">
                      <i class="fa fa-tumblr"></i>
                    </a>
                  </li>
                </ul>
              </div>

              {% if truncate and page.summary != page.content %}
              <div class="pull-left"><a href="{{ page.url }}" class="read-more">Read More</a></div>
              {% elseif truncate %}
              <div class="pull-left"><a href="{{ page.url }}" class="read-more">Read More</a></div>
              {% endif %}
              <div class="clear"></div>
            </div>

            {% if config.plugins.relatedpages.enabled and related_pages|length > 0 %}
            <br /><br />
            <div class="gdlr-related-post-widget">
              <h3 class="related-post-title">You may also like</h3>
              {% include 'partials/relatedpages.html.twig' %}
              <div class="clear"></div>
            </div>
            {% endif %}

            {% if page.activeChild() %}
            <div class="gdlr-post-author">
              <h3 class="post-author-title">About Post Author</h3>
              <div class="clear"></div>
              {% if page.header.author %}
              {% if page.header.author.logo %}
              <div class="post-author-avartar">
                <img src="{{ page.media.images[header.author.logo] }}" class="avatar avatar-125 photo" />
              </div>
              {% endif %}
              <div class="post-author-content">
                <h4 class="post-author">
                  {% if page.header.author.url %}
                  <a href="{{ page.header.author.url }}" rel="author">{{ page.header.author.name }}</a>
                  {% else %}
                  {{ page.header.author.name }}
                  {% endif %}
                </h4>
                {{ page.header.author.description }}
              </div>
              {% else %}
              {% if site.author.logo %}
              <div class="post-author-avartar">
                <img src="{{ theme_url }}/images/{{ site.author.logo }}" class="avatar avatar-125 photo" />
              </div>
              {% endif %}
              <div class="post-author-content">
                <h4 class="post-author">
                  {% if site.author.url %}
                  <a href="{{ site.author.url }}" rel="author">{{ site.author.name }}</a>
                  {% else %}
                  {{ site.author.name }}
                  {% endif %}
                </h4>
                {{ site.author.description }}
              </div>
              {% endif %}

              <div class="clear"></div>
            </div>
            {% endif %}
      <div class="clear"></div>

      {% if not truncate %}
      {% if config.plugins.jscomments.enabled and config.plugins.jscomments.provider %}
      <div class="comments" id="comments">
        <div class="comment-respond">
          <h3 class="comment-reply-title">Comments:</h3>
          {{ jscomments(config.plugins.jscomments.provider) }}
        </div>
      </div>
      {% endif %}
      {% endif %}
    </div>
  </div>
</div>

{% if show_prev_next %}
<div class="blog-pager" id="blog-pager">
  {% if not page.isFirst %}
  <span id="blog-pager-newer-link">
    <a class="blog-pager-newer-link" href="{{ page.nextSibling.url }}"><i class="fa fa-chevron-left"></i> Newer Post</a>
  </span>
  {% endif %}

  {% if not page.isLast %}
  <span id="blog-pager-older-link">
    <a class="blog-pager-older-link" href="{{ page.prevSibling.url }}">Older Post <i class="fa fa-chevron-right"></i></a>
  </span>
  {% endif %}
  <a class="home-link" href="{{ base_url_absolute }}">Home</a>
</div>
{% endif %}
